<div class="row">
    <div class="col-12 col-sm-6 col-md-3 mb-5" *ngFor="let movie of movies">
        <img [src]="movie.poster_path | poster" 
             alt=""
             class="img-fluid rounded poster mb-1"
        >
        <h4 class="text-white">{{movie.title}}</h4>
        <div class="row">
            <div class="col-2 text-white">
                {{movie.vote_average | number:'1.1'}}
            </div>
            <div class="col-10 text-white">
                <star-rating [value]="movie.vote_average" 
                             [totalstars]="10" 
                             checkedcolor="#bd4c5f" 
                             uncheckedcolor="grey" 
                             size="12px" 
                             [readonly]="true"
                ></star-rating>
            </div>
        </div>
    </div>
</div>