li.nav-item a {
    color: white !important;
}

#search{
    background: none; 
    border-color: rgba(255, 255, 255, .3);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: white; 
    outline: none;
}

#search:focus{
    border-color: rgba(255, 255, 255, .9);
}