<nav class="navbar fixed-top navbar-expand-sm" style="background: #14161E;">
    <div class="container-fluid d-flex justify-content-center">

    <a class="navbar-brand" routerLink="/home"><i class="fas fa-ticket-alt"></i> MovieApp</a>

    <div class="d-flex w-100" autocomplete="off">
        <input class="form-control me-2" 
               #searchInput
               (keyup.enter)="searchMovies(searchInput.value)"
               type="search" 
               placeholder="Search movie" 
               aria-label="Search movie" 
               id="search"
        >
        <button (click)="searchMovies(searchInput.value)"
                class="btn btn-outline-danger" 
                type="button"
        ><i class="fas fa-search"></i></button>
    </div>

    </div>
</nav>