<nav class="navbar fixed-top navbar-expand-sm" style="background: #14161E;">
    <div class="container-fluid d-flex justify-content-center">

    <a class="navbar-brand" routerLink="/home"><i class="fas fa-ticket-alt"></i> MovieApp</a>

    <form class="d-flex w-100" autocomplete="off">
        <input class="form-control me-2" type="search" placeholder="Search movie" aria-label="Search movie" id="search">
        <button class="btn btn-outline-danger" type="button"><i class="fas fa-search"></i></button>
    </form>

    </div>
</nav>